/* globals.css */
html {
  background-color: #f7fafc; /* light background */
  color: #2d3748; /* dark text */
}

body {
  background-color: #f7fafc; /* light background */
  color: #2d3748; /* dark text */
}
